# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.doit.db
# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv
.env
# other
.DS_Store
key.txt

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json

app/static/assets/node_modules
app/static/assets/yarn.lock
app/static/assets/.temp
node_modules

postcss.config.cjs
tailwind.config.js

old/*
package.json
app/static/input.css

app/static/*.png
app/static/*.webmanifest
app/static/fonts
.doit*
**/*.swp
