{% extends 'base.html' %}

{% block content %}
        <h1>{% block title %}HTMX-Python-Flask-AlpineJS AI Stack{% endblock %}</h1>
    <ul> 
      <div class="form-group">
          <textarea class="form-control" type="text" id="content"
              name="content" rows="3"
              hx-post="/submit_message"
              hx-trigger="input changed delay:500ms, content" 
              hx-target=".message-container"
              hx-swap="afterbegin"
              hx-boost-immediate="true"
              hx-indicator=".htmx-indicator">  
          </textarea>
      </div>
    </ul>
    <ul>
        <div class="w-full max-w-xs mx-auto">
            <input name="search" type="text" placeholder="Begin Typing to Search"
                class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md border-neutral-300 ring-offset-background placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50"
                 hx-post="/search" 
                 hx-trigger="input changed delay:500ms, search" 
                 hx-target=".message-container"
                 hx-indicator=".htmx-indicator"
                />
        </div>
          
    </ul>
    <ul>
      
      <span class="htmx-indicator"> 
        <img src="https://htmx.org/img/bars.svg"/> Searching... 
      </span>
        <ul class="message-container" hx-sortable >
            {% for message in messages[::-1] %}
                <li class="message-card" hx-drag="item">
                    <h3>{{ message['title'] }}</h3>
                    <p>{{ message['content'] }}</p>
                    {{ message['aicontent'] | safe }}
                </li>
            {% endfor %}
        </ul >
    </ul>
{% endblock %}

