{% extends 'layout.html' %}
{% block head %}
     <script>
         window.onload=()=>{document.querySelectorAll("[url][fn]").forEach(e=>{const r=e.attributes;e[r.fn.value]=()=>{fetch(r.url.value).then(e=>e.json()).then(e=>{Object.entries(e).forEach(e=>{Object.entries(e[1]).forEach(r=>{document.querySelector(e[0])[r[0]]=r[1]})})})}})};
     </script>
{% endblock %}
{% block nav %}
        {% for item in navigation %}
        <a href="#"
            url="{{ item.href }}"
            fn="onclick"
            >{{ item.caption }}</a><br>
        {% endfor %}
{% endblock %}
{% block content %}
<div class="block"><h1>{% block title %} Aki Index {% endblock %}</h1></div>
<swap><p>This website runs a weird interactivity script called aki. it's essentially controls on html navigation using json.</p></swap>
<details>
    <summary>source code:</summary>
    <pre>
<swapcode>
         window.onload=()=>{
            document.querySelectorAll("[url][fn]").forEach(e=>{
                const r=e.attributes;e[r.fn.value]=()=>{
                    fetch(r.url.value).then(e=>e.json()).then(e=>{
                        Object.entries(e).forEach(e=>{
                            Object.entries(e[1]).forEach(r=>{
                                document.querySelector(e[0])[r[0]]=r[1]
                            })
                        })
                    })
                }
            })
        };
</swapcode>
    </pre>
</details>
{% endblock %}
