<form  action="kc" method="get">
  <fieldset>
    <legend>wasm</legend>
    <input type="int" id="p" name="p" value="60"><br>
    <label for="p">probability</label><br>
    <input type="int" id="reward" name="reward" value="50"><br>
    <label for="reward">reward</label><br>
    <input type="int" id="risk" name="risk" value="50"><br>
    <label for="risk">risk</label><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

    <a url="https://jisifu.pythonanywhere.com/kc?p=60&reward=50&risk=50" fn="onclick" >click me</a>
    <p> the result is: <result>--</result>% </p>

