{% extends 'layout.html' %}
{% block head %}

{% endblock %}
{% block nav %}
        {% for item in navigation %}
        <a href="{{ item.href }}#main"><button>{{ item.caption }}</button></a>
        {% endfor %}
{% endblock %}
{% block content %}
<h1>{% block title %} HTMZ Index {% endblock %}</h1>

<!-- This will be replaced by the loaded HTML -->
<iframe hidden name=htmz onload="setTimeout(()=>document.querySelector(contentWindow.location.hash||null)?.replaceWith(...contentDocument.body.childNodes))"></iframe>
<base target=htmz>

	<main id="main">
        <p>It might make sense to place the headers at the bottom for the document And I might need a boolean to switch base inherits?</p>
	</main>
{% endblock %}

