<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☄</text></svg>">
    <!--	<link href="{{ url_for('static', filename='yorha.min.css') }}" rel="stylesheet"> -->
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
	<title>{% block title %} {% endblock %} - A simple Flask App</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/msw.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/Fork-Awesome-1.2.0/css/fork-awesome.min.css') }}" defer>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/neoenvs.css') }}">
    {% block head %}
    {% endblock %}

</head>
<body>
<main id="main">
		{% for message in get_flashed_messages() %}
		<div class="alert">{{ message }}</div>
		{% endfor %}
		{% block content %} {% endblock %}
	<footer>
        {% include 'footer.html' %}
    </footer>
</main>
<div id="sidebar">
    <nav class="block">
    {% block nav %}
    {% endblock %}
	</nav>
</div>
</body>
</html>

