{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Shell Access {% endblock %}</h1>
    <ul>
        <form id="form"
              >
        <textarea type="text" placeholder="Type your message here." 
              class="empty"
              name="content" rows="3" 
        ></textarea>
	<br>
        <button
		hx-post="shell_submit"
		hx-trigger="click"	
		hx-target=".message-container"
		hx-swap="afterbegin"
		hx-boost-immediate="true"
		hx-indicator=".htmx-indicator"
		id="submit-button">Submit Shell Command</button>
        </form>
    </ul>
    <ul>
            <input name="search" type="text" placeholder="Begin Typing to Search"
                 hx-post="search" 
                 hx-trigger="input changed delay:500ms, search" 
                 hx-target=".message-container"
                 hx-indicator=".htmx-indicator"
                />
    </ul>
    <ul>
      <span class="htmx-indicator"> 
        <!-- <img src="https://htmx.org/img/bars.svg"/> -->
         Searching... 
      </span>
        <ul class="message-container" hx-sortable >
            {% for message in messages[::-1] %}
	<details>
            <summary>{{ message['title'] }} {{ message['summary'] | safe }}</summary>
                {{ message['aicontent'] | safe }}
	</details>
            {% endfor %}
        </ul >
    </ul>
{% endblock %}

