<script src="/static/wasm_exec.js"></script>
    <script src="/static/wasm.js"></script>
    <details><summary>wasm</summary>
        <form id="wasm" action="kc" oninput="x.value=Math.round(parseInt(a.value)-(100-(parseInt(a.value)))*(parseInt(c.value)/parseInt(b.value)))">
                                <fieldset>
                                <legend>wasm in go -- with js fallback</legend>
        <input type="range" min="0" max="100" id="a" name="p" />
                                <div>Probability (0-100%)  <output id="aval"></output></div> <br>
        <input type="range" min="1" max="100" id="b" name="reward" />
        <div>Reward(1-100)  <output id="bval"></output></div> <br>
        <input type="range" min="1" max="100" id="c" name="risk" />
        <div>Risk(1-100): <output id="cval"></output></div>
        <br>Result: <output for="a b c" id="result"></output>%<br>
                                <br>Result(js): <output type="range" name="x" for="a b c"></output>%<br>
                                <input type="submit">
                                </fieldset>
                                </form>
    <script>
                        const form = document.getElementById("wasm");
                        const a = form.elements["a"];
                        const b = form.elements["b"];
                        const c = form.elements["c"];
                        const result = form.elements["result"];

                        function updateResult() {
                const aValue = a.valueAsNumber;
                const bValue = b.valueAsNumber;
                const cValue = c.valueAsNumber;
                        const res = wasm.exports.kc(aValue, bValue, cValue);
                result.value = res;
                aval.value = aValue;
                bval.value = bValue;
                cval.value = cValue;
                }
                form.addEventListener("input", updateResult);
        </script>
</details>
<details><summary>js</summary>
        <form action="kc" oninput="x.value=parseInt(a.value)-(100-(x.value=parseInt(a.value)))*(parseInt(c.value)/parseInt(b.value))">
                <fieldset><legend>jshtml</legend>
          <input type="range" id="a" name="p" value="50">
                <div>Probability (0-100%) </div> <br>
          <input type="range" id="b" name="reward" value="50">
          <div>Reward(1-100) </div> <br>
          <input type="range" id="c" name="risk" value="50">
          <div>Risk(1-100): </div> <br>
          <br>Result
          <output type="range" name="x" for="a b c"></output>%<br>
          <input type="submit">
                </fieldset>
        </form>
</details>
