{% extends 'base.html' %}
{% block content %}
<h1>{% block title %}ai demo {% endblock %}</h1>
    <ul>
        <div>
        <textarea type="text" placeholder="Type your message here." 
              class="empty"
              name="content" rows="3" cols="50"
              hx-post="/submit_message"
              hx-trigger="input changed delay:500ms, content" 
              hx-target=".message-container"
              hx-swap="afterbegin"
              hx-boost-immediate="true"
              hx-indicator=".htmx-indicator"></textarea>
      </div>
    </ul>
    <ul>
        <div >
            <input name="search" type="text" placeholder="Begin Typing to Search"
                 hx-post="/search" 
                 hx-trigger="input changed delay:500ms, search" 
                 hx-target=".message-container"
                 hx-indicator=".htmx-indicator"
                />
        </div>
    </ul>

    <ul>
      <span class="htmx-indicator"> 
        <!-- <img src="https://htmx.org/img/bars.svg"/> -->
         Searching... 
      </span>
        <ul class="message-container" hx-sortable >
            {% for message in messages[::-1] %}

<details>
	<summary>{{ message['title'] }} {{ message['summary'] | safe }}</summary>
	{{ message['aicontent'] | safe }}
</details>
            {% endfor %}
        </ul >
    </ul>
{% endblock %}

